# Python cache
__pycache__/
*.pyc

# Virtual env
.venv/
env/
venv/

# Logs
*.log
Data/fishare.log

# Runtime / generated data
Data/id_ed25519.pem
Data/config.json
Downloads/

# OS noise
.DS_Store
Thumbs.db
